.image h1{
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 190px;
  width: 1300px;
  font-size: 110px;
  color: white;


}


h4{
  text-align: center;

}

.left{
  height: 20px;
  width: 500px;
  position: relative;
  top: -550px;
  left: 200px;
  margin: 0px;
  list-style-type: none;


}

.right{
  display: inline;
  height: 20px;
  width: 500px;
  position: relative;
  top: -555px;
  margin: 0px;
  right: -980px;
  list-style-type: none;


}

@import url(https://fonts.googleapis.com/css?family=Oswald);

div.post-1 {
  background-image: url(https://dl.dropboxusercontent.com/u/4024808/tiy/surf-and-paddle/images/article-image-1.jpg);
}
div.post-2 {
  background-image: url(https://dl.dropboxusercontent.com/u/4024808/tiy/surf-and-paddle/images/article-image-2.jpg);
}
div.post-3 {
  background-image: url(https://dl.dropboxusercontent.com/u/4024808/tiy/surf-and-paddle/images/article-image-3.jpg);
}
div.post-4 {
  background-image: url(https://dl.dropboxusercontent.com/u/4024808/tiy/surf-and-paddle/images/article-image-4.jpg);
}

.rightSide {
  margin-top: -610px;
  width: 340px;
  height: 100%;
  float: right;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Open Sans";
}


.icons{
  list-style-type: none;
}

.footer-links {
  display: flex;
  flex-direction: row;
}

.footer-link {
  width: 25%;
  height: 250px;
  background-size: cover;
}

.footer-link a {
  position: relative;
  display: block;
  height: 250px;
  background-color: rgba(16, 109, 179, 0.5);
}

.footer-link a:link {
  color: #083452;
  text-decoration: none;
  font-size: 2em;
  font-family: "Oswald", sans-serif;
}

.footer-link a:hover {
  background-color: transparent;
  color: white;
}

.footer-link a span {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

#footer {
  position: relative;
  width: 1300px;
  height: 90px;
  background-color: #083452;
  margin-left: auto;
  margin-right: auto;
}


#footer img {
  position: relative;
  display: inline-block;
  top: 20px;
  right: 10px;
}

.LeftFooter {
  position: relative;
  left: 160px;
  height: 90px;
}
.LeftFooter p {
  display: inline-block;
  position: relative;
  top: 15px;
  color: #A3B3BF;
  font-size: 9px;
}



.NavItems {
  height: 20px;
  position: relative;
  top: -50px;
  right: -800px;
  color: #A3B3BF;
}
.NavItems a {
  line-height: 20px;
  color: #A3B3BF;
  text-decoration: none;
}
